{% extends 'base.html' %} {% block content %}
<a class="mt-5 btn text-white bg-danger" href="{% url 'purchase_list' %}"
  ><i class="fa-solid fa-arrow-right-from-bracket"></i
></a>

<h1 class="text-center">Purchase Details</h1>
<div id="detail" class="container">
  <div><strong>Purchase ID:</strong> <span>{{ purchase.id }}</span></div>
  <div>
    <strong>Supplier:</strong> <span>{{ purchase.supplier.name }}</span>
  </div>
  <div>
    <strong>Employee:</strong> <span>{{ purchase.employee.name }}</span>
  </div>
  <div>
    <strong>Total Amount:</strong> <span>${{ purchase.total_amount }}</span>
  </div>
  <div>
    <strong>Total Paid:</strong> <span>${{ purchase.total_paid }}</span>
  </div>
  <div>
    <strong>Total Remain:</strong> <span>${{ purchase.total_remain }}</span>
  </div>
  <div><strong>Created At:</strong> <span>{{ purchase.created_at }}</span></div>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th class="text-white bg-primary" scope="col">Product</th>
      <th class="text-white bg-primary" scope="col">Quantity</th>
      <th class="text-white bg-primary" scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in purchase.items.all %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ item.total_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
